.Input {
    padding: 10px 20px;
    text-align: center;
    background-color: #f44336;
}

.Input__value {
    width: 70%;
    padding: 10px 15px;
    outline: none;
    border: none;
    font-size: 18px;
}

.Input__btn {
    outline: none;
    width: 20%;
    padding: 10px 15px;
    background-color: #27ae60;
    border:none;
    color: white;
    transition: all .2s linear;
    font-size: 18px;
}

.Input__btn:hover {
    cursor: pointer;
    box-shadow: 0 2rem 5rem rgba(0,0,0,.06);
}

.Input__btn:disabled {
    background-color: #ccc;
    cursor:not-allowed;
}